.hero-image{
    background: url('../../images/hero-img.jpg');
    width: 100%;    
    height: calc(150vh - 450px);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    

    .hero-text{
        font-size: 85px;
        color: white;
    }
}
