.hero-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    font-family: "adam-bold";
    font-size: 90px;
    text-transform: uppercase;
    text-shadow: 0px 5px 33px #1d1d1d;
    color: #fff;
}

.hero-tagline {
    font-family: "metropolis-regular";
    font-size: 28px;
    text-shadow: 4px 5px 9px #1d1d1d;
    color: #fff;

}

.hero-vid-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.overlay{
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: calc(100vh - 76px);
    background-color: rgb(0 0 0 / 35%);
}

video {
    display: block;
    width: 100%;
    height: calc(100vh - 76px);
    object-fit: cover;
    /* height: 100%; */
}

/* .hero-tagline:before,.hero-tagline:after {
    content: "-";
    display: inline-block;
} */