
.header{
    position: sticky;
    top: 0;
    padding: 55px 0;
    background:#1d1d1d;
    width: 100%;    
}

.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items{
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    font-size: 20px;

    &:hover{
        color: red;
    }
}

