.accordion {
    width: 600px;
  }

.wrapper {
  display: flex;
  height: 78vh;
  width: 80vw;
  justify-content: center;
  align-itin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: rgb(218, 8, 8);
  max-height: 0;
  overflow: hidden;
  transition:  all 0.5s cubic-bezier(0,1,0,1);
}

.content.show { 
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}